@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student;

<h1>Add Student</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name);
  @Html.TextBoxFor(model => model.Name);

  @Html.LabelFor(model => model.DateOfEnrollment);
  <input type="date" id="DateOfEnrollment" name="DateOfEnrollment" />
  <input type="submit" value="Add student" class="btn btn-default" />
}

<p>@Html.ActionLink("Back to students", "Index")</p>
<p>@Html.ActionLink("Back to home", "Index", "Home")</p>